/* ========================= */
/* SIDEBAR CARDS */
/* ========================= */

.sidebar-card{
background:#0f0f0f;
border:none;
border-radius:16px;
box-shadow:0 0 25px rgba(0,0,0,0.6);
color:white;
margin-bottom:20px;
overflow:hidden;
}

/* SIDEBAR COVER */

.sidebar-cover{
height:80px;
background:linear-gradient(90deg,#ef4444,#991b1b);
border-radius:16px 16px 0 0;
position:relative;
z-index:1;
}

/* PROFILE IMAGE */
.profile-img{
width:75px;
height:75px;
margin-top:-38px;
border-radius:50%;
border:3px solid #070707;
display:block;
margin-left:auto;
margin-right:auto;
position:relative;
z-index:2;
}

/* PROFILE EMAIL */

.sidebar-email{
color:#9ca3af;
font-size:13px;
}

/* STATS */

.sidebar-stats .stat-label{
color:#9ca3af;
font-size:12px;
}

.sidebar-stats{
margin-top:10px;
margin-bottom:10px;
}

/* PROFILE BUTTON */

.profile-btn{
background:linear-gradient(90deg,#ef4444,#b91c1c);
border:none;
border-radius:20px;
color:white;
font-weight:500;
}

.profile-btn:hover{
background:linear-gradient(90deg,#dc2626,#991b1b);
}


/* ========================= */
/* QUICK LINKS */
/* ========================= */

.sidebar-link{
display:flex;
align-items:center;
gap:10px;
padding:8px 10px;
border-radius:8px;
text-decoration:none;
color:#d1d5db;
font-size:14px;
transition:0.2s;
}

.sidebar-link:hover{
background:#1a1a1a;
color:#ef4444;
}

/* ========================= */
/* STICKY SIDEBAR */
/* ========================= */

.sidebar-sticky{
position:sticky;
top:90px;
max-height:calc(100vh - 100px);
overflow-y:auto;
}

/* ========================= */
/* SIDEBAR COVER */
/* ========================= */


.feed-card{
background:#0f0f0f;
border:none;
border-radius:16px;
box-shadow:0 0 25px rgba(0,0,0,0.6);
margin-bottom:20px;
}

.post-header{
display:flex;
align-items:center;
gap:10px;
margin-bottom:6px;
}

.post-user-info{
display:flex;
align-items:center;
gap:6px;
}

.post-avatar{
width:36px;
height:36px;
border-radius:50%;
background:#ef4444;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:600;
font-size:14px;
flex-shrink:0;
}

.post-username{
color:white;
font-weight:600;
font-size:15px;
}