<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>


<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">

<span class="navbar-brand">

RevConnect Dashboard

</span>

        <a href="/login"
           class="btn btn-danger">

            Logout

        </a>

    </div>

</nav>



<div class="container mt-5">


    <div class="card shadow">


        <div class="card-body text-center">


            <h2 class="text-success">

                Login Successful 🎉

            </h2>


            <p>

                Welcome to RevConnect

            </p>


        </div>


    </div>


</div>


</body>

</html>